<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--50)">
    <!-- wp:uagb/container {"block_id":"06476290","directionDesktop":"row","variationSelected":true,"isBlockRootParent":true} -->
    <div class="wp-block-uagb-container uagb-block-06476290 alignfull uagb-is-root-container">
        <div class="uagb-container-inner-blocks-wrap" style="display: flex;">
            <!-- wp:uagb/container {"layout":{"type":"constrained"}}  -->
            <div class="wp-block-uagb-container uagb-block-b2c83d93">
                <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
                <!-- wp:template-part {"slug":"post-meta"} /-->
            </div>
            <!-- /wp:uagb/container -->

            <!-- wp:uagb/container {"block_id":"18a65f2e","widthDesktop":50,"variationSelected":true,"widthSetByUser":true} -->
            <div class="wp-block-uagb-container uagb-block-18a65f2e">
                <!-- wp:post-featured-image {"overlayColor":"contrast","dimRatio":50,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(--wp--preset--spacing--50))"}}}} /-->

            </div>
            <!-- /wp:uagb/container -->
        </div>
    </div>

    <!-- /wp:uagb/container -->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

    <!-- wp:template-part {"slug":"comments","tagName":"section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->